@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

 

 /*------------- Whole Document---------------- */

body {
    font-family: 'Staatliches';
    font-size: 19px;
}

/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: url("https://miro.medium.com/max/6332/1*4qA_5HRtisx-995-z8LTKQ.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

