@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 

 /*------------- Whole Document---------------- */

body {
    font-family: 'Libre Baskerville';
    font-size: 19px;
}

/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}


